<nav class="navbar">
  <ul class="navbar-container">
    <li class="navbar-list">
      <a class="list-link" href="/">Add Products</a>
    </li>
    <li class="navbar-list">
      <a class="list-link" href="/list-products">Products</a>
    </li>
  </ul>
</nav>